<footer>
    <!-- left/right or stack when small -->
    <div class="clear-both flex flex-col items-center md:flex-row md:justify-between pt-8 pb-16">
        <!-- left -->
        <div class="pb-4 mx-4 order-last md:order-first">
            <p class="text-color-600 text-sm">&copy; <time id="currentYear"></time> Shan-Wei Sun. All rights reserved.</p>
            <script>
                document.getElementById('currentYear').textContent = new Date().getFullYear();
            </script>
        </div>
        <!-- right -->
        <div class="text-2xl flex-none pb-4 mx-4 order-first md:order-last">
            <a href="https://github.com/ssun5" target="_blank" rel="noopener noreferrer" class="inline-flex items-center p-2 rounded" aria-label="GitHub">
                <i class="fab fa-github" aria-hidden="true"></i>
            </a>
    
            <a href="mailto:yellowpurplebird@gmail.com" class="inline-flex items-center p-2 rounded" aria-label="Email">
                <i class="fa-regular fa-envelope" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</footer>